# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.vs/
*/Debug/
*/Release/
*/x64/
.claude/
/codec_mp4/codec_mp4
/codec_mp4/alac/*.h
/codec_mp4/alac/*.c
/codec_mp4/alac/*.cpp
/codec_ape/codec_ape
/codec_ape/mac/*.h
/codec_ape/mac/*.cpp
/codec_ape/mac/lib/x64/Debug
/codec_ape/mac/lib/x64/Release
/codec_tak/tak/lib
/codec_tak/tak/*.h
/codec_tak/codec_tak
/codec_tta/codec_tta
/codec_tta/libtta/*.h
/codec_tta/libtta/*.cpp
/CLAUDE.md